<!-- HEAD-->   
    <%- include('../partials/head.ejs', {title: 'Crear Producto'}) %>
    <!-- Link general css file --> 
   <link rel="stylesheet" href="/css/partials/stylePartials.css">
   <link rel="stylesheet" href="/css/products/productCreate.css">
</head>
<!-- HEAD-->   
<body>
<!-- HEADER--> 
    <%- include('../partials/header.ejs') %>
<!-- HEADER--> 

<!-- MAIN --> 
<section class="productCreate">
    <div class="container bg-white shadow rounded-lg px-3 mt-5 py-4 mb-5">
       
           
            <form class="row" action="/product/create" method="POST" enctype="multipart/form-data"> 
                <h3 class="productName my-2 mb-4">CREAR PRODUCTO</h3>

                <div class=" col-12 col-lg-4">

                    <div class="form-group my-4" id="imagenes">
                        <label class="mb-4 imageTitulo" for="clickFileImg">Seleccionar imagenes</label>
                        <input class="form-control mt-2" type="file" name="productImg" id="clickFileImg">
                    </div>
                
                </div>

                <div class="col-12 col-lg-8 ">

                    <div class="form-group productLabel my-4">
                        <label class="mb-2" for="title">Nombre del producto</label>
                        <input class="form-control" type="text" id="title" name="name" value="<%= oldErrors.name %>">
                    </div>

                    <div class="form-group productLabel my-2">
                        <label class="mb-2">Codigo del producto</label>
                        <input type="text" class="form-control " value="Product Code: IDDEP1234">
                    </div>

                    <div class="form-group productLabel my-2">
                        <label class="mb-2">Precio del producto</label>
                        <input class="form-control " type="number" name="amount" value="<%= oldErrors.amount || "" %>">
                    </div>

                    <div class="form-group productLabel my-2">
                        <label for="labels">
                            <p class="cp_title">Etiquetas</p>
                        </label>
                        <div class="">
                            <select class="" name="label" id="labels">
                                <option value=""></option>
                                <option value="channel">channel</option>
                            </select>

                    <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg></button>
                </div> 

                    </div>

                    <div class="form-group productLabel my-2">
                        <label class=" mb-2">Tamano del producto</label>
                        <input class="form-control " type="number" name="cap" value="<%= oldErrors.cap %>">
                        <select class="" name="capacityMeasure">
                            <% categories[2].content.forEach( row => { %>
                               <option value="<%= row %>" <%= oldErrors.capacityMeasure ? (oldErrors.capacityMeasure.includes(row)  ? "selected" : "" ) : "" %>><%= row %></option>
                           <% }) %>
                       </select>
                    </div>

                    <div class="form-group productLabel my-2">
                        <label class=" mb-2">Color</label>
                        <select class="cp_select-input" name="colors">
                            <% categories[3].content.forEach( row => { %>
                                <option value="<%= row %>" <%= oldErrors.colors ? (oldErrors.colors.includes(row)  ? "selected" : "" ) : "" %>><%= row %></option>
                            <% }) %>
                        </select>
                    </div>


                    <div class="form-group productLabel my-2">
                        <label class=" mb-2">Stock disponible:</label>
                        <input class="form-control " type="number" name="unities" value="<%= oldErrors.unities || "" %>">
                    </div>

                    <div class="col-md-12 productLabel my-2">
                        <div class="form-group">
                            <label class=" mb-2">Descripcion</label>
                            <textarea class="form-control" rows="4" name="desc" value="<%= oldErrors.desc || "" %>">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore vero enim error similique quia numquam ullam corporis officia odio repellendus aperiam consequatur laudantium porro voluptatibus, itaque laboriosam veritatis voluptatum distinctio!</textarea>
                        </div>
                    </div>

                    <div class="col-md-12 productLabel my-2">
                        <div class="form-group">
                            <label class=" mb-2">Ingredientes</label>
                            <textarea class="form-control" rows="4" name="desc" value="<%= oldErrors.desc || "" %>">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore vero enim error similique quia numquam ullam corporis officia odio repellendus aperiam consequatur laudantium porro voluptatibus, itaque laboriosam veritatis voluptatum distinctio!</textarea>
                        </div>
                    </div>

                    <div class=" my-4">
                        <button class="btn productCreateBtn me-4" type="submit">Crear</button>
                        <button class="btn productCreateBtn" type="submit">Cancelar</button>
                    </div>

                </div>
            </form> 
           

       
    </div>





</section>

<!-- MAIN--> 

<!-- FOOTER-->   

    <%- include('../partials/footer.ejs') %>

<!-- FOOTER--> 

