<!-- HEAD-->   
    <%- include('../partials/head.ejs', {title: 'Crear Producto'}) %>
    <!-- Link general css file --> 
   <link rel="stylesheet" href="/css/partials/stylePartials.css">
   <link rel="stylesheet" href="/css/products/productCreate.css">
</head>
<!-- HEAD-->   
<body>
<!-- HEADER--> 
    <%- include('../partials/header.ejs') %>
<!-- HEADER--> 

<!-- MAIN --> 
<section class="productCreate">
    <div class="container bg-white shadow rounded-lg px-3 mt-5 py-4 mb-5">
       
           
            <form class="row" action="/product/create" method="POST" enctype="multipart/form-data"> 
                <h3 class="productName my-2 mb-4">CREAR PRODUCTO</h3>

                <div class=" col-12 col-lg-4">

                    <div class="form-group my-4" id="imagenes">
                        <label class="mb-4 imageTitulo" for="clickFileImg">Seleccionar imagenes</label>
                        <input class="form-control mt-2" type="file" name="productImg" id="clickFileImg">
                    </div>
                
                </div>

                <div class="col-12 col-lg-8 ">

                    <div class="form-group productLabel my-4">
                        <label class="mb-2" for="title">Nombre del producto</label>
                        <input class="form-control" type="text" id="title" name="name" value="<%= oldErrors.name %>">
                    </div>

                    <div class="form-group productLabel my-2">
                        <label class="mb-2">Codigo del producto</label>
                        <input type="text" class="form-control " value="Product Code: IDDEP1234">
                    </div>

                    <div class="form-group productLabel my-2">
                        <label class="mb-2">Precio del producto</label>
                        <input class="form-control " type="number" name="amount" value="<%= oldErrors.amount || "" %>">
                    </div>

                    <div class="form-group productLabel my-2">
                        <label class="mb-2" for="labels">Categorias</label>
                            <select class="form-control" name="categoria" id="labels" >
                                <% categorias.forEach( row => { %>
                                    <option value="<%= row.id %>" <%= oldErrors.colors ? (oldErrors.colors.includes(row.nombre)  ? "selected" : "" ) : "" %>><%= row.nombre %></option>
                                <% }) %>
                            </select>
                    </div>
                
                    <div class="form-group productLabel my-2">
                        <label class=" mb-2">Tamano del producto</label>
                        <select class="form-control" name="medida" value="<%= oldErrors.cap %>" >

                            <% medidas.forEach( row => { %>
                                <option value="<%= row.id %>" <%= oldErrors.colors ? (oldErrors.colors.includes(row.medida)  ? "selected" : "" ) : "" %>><%= row.medida %></option>
                            <% }) %>

                       </select>
                    </div>

                    <div class="form-group productLabel my-2">
                        <label class=" mb-2">Color</label>
                        <select class="form-control" name="color">

                            <% colores.forEach( row => { %>
                                <option value="<%= row.id %>" <%= oldErrors.colors ? (oldErrors.colors.includes(row.nombre)  ? "selected" : "" ) : "" %>><%= row.nombre %></option>
                            <% }) %>

                        </select>
                    </div>

                    <div class="form-group productLabel my-2">
                        <label class="mb-2">Marca</label>
                        <select class="form-control" name="brand">

                            <% marcas.forEach( row => { %>
                                <option value="<%= row.id %>" <%= oldErrors.colors ? (oldErrors.colors.includes(row.nombre)  ? "selected" : "" ) : "" %>><%= row.nombre %></option>
                            <% }) %> 

                        </select>
                    </div>


                    <div class="form-group productLabel my-2">
                        <label class=" mb-2">Stock disponible:</label>
                        <input class="form-control" type="number" name="stock" value="<%= oldErrors.unities || "" %>">
                    </div>

                    <div class="col-md-12 productLabel my-2">
                        <div class="form-group">
                            <label class=" mb-2">Descripcion</label>
                            <textarea class="form-control" rows="4" name="desc"></textarea>
                        </div>
                    </div>

                    <div class=" my-4">
                        <button class="btn productCreateBtn me-4" type="submit">Crear</button>
                        <button class="btn productCreateBtn" type="submit">Cancelar</button>
                    </div>

                </div>
            </form> 
           

       
    </div>





</section>

<!-- MAIN--> 

<!-- FOOTER-->   

    <%- include('../partials/footer.ejs') %>

<!-- FOOTER--> 

